@import "tailwindcss";

:root {
  --foreground-rgb: 26, 26, 26; /* light text */
  --background-rgb: 255, 255, 255; /* light bg */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 245, 247; /* dark text */
    --background-rgb: 10, 10, 10; /* dark bg */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  transition: color 0.3s, background-color 0.3s;
}